@font-face {
    font-family: CatchyMager;
    src: url("assets/Catchy Mager Regular.ttf");
}
@media screen and(max-width:1680px)and(min-width:1050px){
    h1{
        font-size: 30px;
    }
}







