@media screen and(max-width:1680px)and(min-width:1050px){
    h1{
        font-size: 30px;
    }
}
@media screen and(max-width:320px){
    .piechart_3d{
        height: 200px;
        width: 100px;
    }
}

.textuno{
    color: #623e2a;
    text-align:center;
    padding-top: 455px;
}

.review-container
{
	width: 100%;
	display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-evenly;
}

.user-foto-rounded
{
	border-radius: 50%;
	height: 100px;
	
}

.checked {
  color: orange;
}

.unchecked {
  color: gray;
}

.user-rating
{
	display:flex;
	justify-content: center;
    align-items: flex-start;
	flex-direction: column;
}

.text-review
{
	color:black;
}

#piechart_3d{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 1.5rem;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}
