
@font-face {
    font-family: CatchyMager;
    src: url("assets/Catchy Mager Regular.ttf");
}

.mappa{
    width:100;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
.contenitore{
    text-align: center;
    align-items: center;
}

form{
    display:table;
    margin-top: 20px;
    margin-left: 38%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border: solid 2px #623e2a;
    background-color: #efebe5;
    
    
}
form textarea{
    display: table-row;
    padding-right: 5px;
}

div.tableRow{
    display: table-row;
    
}
div.tableRow p{
    display: table-cell;
    vertical-align: top;
    text-align: center;
    color: #623e2a;
    
   
}
div.tableRow p:first-child{
    text-align:center;
    margin-left: 5px;
    margin-right: 5px;
}

h1{
    color: #623e2a;
    text-align: center;
    padding-top: 2%;
}


h2{
    color: #623e2a;
}
